
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #dfdfdf;
}

.container{
padding: 30px;
width: 300px;
margin: 0 auto;
margin-top: 5%;
background: white;
border-radius: 30px;}

form {
display: inline-block;
}

input{
padding: 7px 15px 7px 6px;
border-radius: 15px;
border-width: 1px;
margin-top: 10px;
}

input:focus {
    outline-width: 0;
}

#button{
display: inline-block;
background-color:#5d89ca;
color:#ffffff;
border-radius: 15px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
transition: all .3s;
padding: 7px 25px;
margin-left: 10px;
}

#button:hover{
cursor: pointer;
opacity: .6;}

ol {padding-left: 20px;}

ol li {padding: 15px;color:#000;}

ol li:nth-child(even){background: #b7cbdb3d; border-radius: 30px;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #5d89ca;
	font-weight: 800;
}